@use '@/styles/variables' as v;

.button,
input {
  border-radius: 4px;
  height: 1.5rlh;
  line-height: 1.5rlh;
  padding: 0 .5rlh;
}

input {
  border: 1px solid v.$color-border;
  margin-right: 4px;
  width: 12rem;
}

.button {
  border: 0;
  background-color: v.$color-primary;
  color: #fff;
  text-align: center;
  text-decoration: none;

  &--wide {
    display: block;
    width: 100%;
  }
}