@use '@/styles/variables' as v;

.app {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
}

.content {
  padding: 1rlh;
}

hr {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  height: 0;
  margin-bottom: 1rlh;
}

h1, h2 {
  font-weight: 400;
}

p {
  margin-bottom: 1rlh;
}