@use '@/styles/variables' as v;

.card {
  border: 1px solid v.$color-border;
  border-radius: 1rlh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rlh;
  }

  &-image {
    img {
      width: 100%;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0.5rlh;
  }

  &-meta {
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: .5rlh;
  }
}